%table
  -for user in @user
    %tr
      %td
        = user.email
      %td
        = link_to "navigation" , events_path
      %td
        = link_to "user sign in" , events_path
      %td
        = link_to "user sign out" , events_path
      %td
        = link_to "likes" , events_path
      %td
        = link_to "comments" ,  events_comments_path


